.container {
    width: 100%;
    height: 100vh;
    padding: 0 450px;
    display: flex;
    flex-direction: column;
}

.container header {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.container header h1 {
    font-size: 18px;
    font-weight: 600;
}

.container main {
    width: 100%;
    height: 84vh;
}

.container footer {
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1300px) {
    .container {
        padding: 0 350px;
    }
}

@media (max-width: 1120px) {
    .container {
        padding: 0 310px;
    }
}

@media (max-width: 1080px) {
    .container {
        padding: 0;
    }

    .container header {
        justify-content: center;
    }
    
    .container main {
        display: flex;
        justify-content: center;
    }
}

@media (max-height: 900px) {
    .container footer {
        visibility: hidden;
    }
}